In [1]:
import pandas as pd
import numpy as np
from collections import Counter

# Advent of Code Day 1
### Pt. 1
### Eric Feng

In [2]:
df = pd.read_csv("input.csv")

In [3]:
df.head()

       0      1
0  40094  37480
1  52117  14510
2  92290  82570
3  41563  59882
4  56597  98604

In [4]:
r1 = list(df["0"])
r2 = list(df["1"])

In [5]:
r1.sort()
r2.sort()

In [6]:
sum = 0
for i in range(len(r1)):
    sum += abs(r1[i] - r2[i])

In [7]:
sum

2430334

### Pt. 2

In [8]:
f2 = Counter(r2)
sim = 0
for i in r1:
    if i in f2:
        sim += f2[i] * i

In [9]:
sim

28786472