# Advent of Code Day 2
### Pt 1.
### Eric Feng

In [32]:
import pandas as pd
import numpy as np
import math

In [4]:
df = pd.read_csv("input_day_2.csv")

In [5]:
df.head()

    0   1   2   3   4     5     6     7
0  45  47  48  50  51  52.0  54.0  51.0
1  23  26  27  30  30   NaN   NaN   NaN
2  40  41  44  47  49  51.0  55.0   NaN
3  12  15  18  19  26   NaN   NaN   NaN
4  78  81  83  84  83  84.0   NaN   NaN

In [50]:
def checker(lst):
    lst = [x for x in lst if not math.isnan(x)]
    dif = np.diff(lst)
    if dif[0] > 0:
        for i in dif:
            if i < 1 or i > 3:
                return False
    if dif[0] < 0:
        for i in dif:
            if i > -1 or i < -3:
                return False
    if dif[0] == 0:
        return False
    return True

In [68]:
good_rows = 0
for index, i in df.iterrows():
    if checker(i):
        good_rows += 1

In [41]:
good_rows

663

### Part 2

In [67]:
good_rows = 0
for index, i in df.iterrows():
    lst = [x for x in i if not math.isnan(x)]
    for j in range(len(lst)):
        lst2 = list(lst)
        lst2.pop(j)
        if checker(lst2):
            good_rows += 1
            break

In [66]:
good_rows

692